.App {
  text-align: center;
}
.navigation {
  background-color: lightgray;
  padding: 1rem;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin: 1rem 0;
}
.list-heading {
  color: gray;
}
